<!--The content below is only a placeholder and can be replaced.-->
<div>Hello{{title}}</div>
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
  <thead>
    <tr>
      <th>Pair</th>
      <th>Vol</th>
      <th>Change</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pair of pairs">
      <td>{{pair.secondary_currency}} /{{pair.primary_currency}}</td>
      <td>{{pair.volume_24hours}}</td>
      <td>{{pair.change}}</td>
    </tr>
  
  </tbody>
</table>


